<?xml version="1.0"?>
<!--
Copyright © 2017 EaDesign by Eco Active S.R.L. All rights reserved.
See LICENSE for license details.
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="eadesigndev_shipping_address_fields" xsi:type="object">Eadesigndev\Checkoutaddressfields\Block\Checkout\Address\Fields\ShippingLayoutProcessor</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="eadesigndev_billing_address_fields" type="Eadesigndev\Checkoutaddressfields\Plugin\Checkout\BillingLayoutProcessor" sortOrder="1000"/>
    </type>
</config>